<div class="w-full  block h-screen bg-gradient-to-r from-yellow-200 via-yello-500 to-red-400 p-4 flex  justify-center"  style="width:100%">  

        <div class="hometext">
                <div  class="flex items-center space-x-2 mt-2" *ngFor ="let c of  userDetails">
<h1>Welcome {{c.username}}</h1>

<br>
<br>
<br>
<br>
<br>
                </div>
<div class="searchBar">
<input type="text" placeholder="Search For Partner" class="input w-full max-w-xs"  id="searchBar"/>

</div>


</div>

        </div>
        